body {
    font-family: sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    min-height: 100vh;
}

.container {
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgb(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
}

#add-btn {
    padding: 10px 16px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#add-btn:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li > button {
    margin-left: 5px;
}

span.done {
    text-decoration: line-through;
    color: gray;
    /* cursor: pointer; */
}

button.delete {
    background: #dc3545;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

button.delete:hover {
    background: #c82333;
}

button.edit {
    background: #ffc107;
    color: black;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

button.edit:hover {
    background: #e0a800;
}
